@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: rgb(0,121,145);
    background: linear-gradient(90deg, rgba(0,121,145,1) 0%, rgba(13,163,193,1) 100%);
    color: white;
/* 
    background: rgb(1,22,39);
    background: linear-gradient(90deg, rgba(1,22,39,1) 0%, rgba(5,62,108,1) 100%); */
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    color: antiquewhite;
}
h1 {
    font-size: 25px;
}
input {
    border-radius: 70px;
    outline: none;
    width: 8vw;
    height: 3vh;
    font-size: 18px;
    font-weight: 600;
    text-indent: 10px;
}

.title {
    height: 18Px;
    font-weight: 700;
}


/* NAVBAR PART OF THE PAGE */
.navbar {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 8vh;
    min-height: 65px;
    /* background-color: #011627; */

    background: #011627;
    background: linear-gradient(90deg, rgba(1,22,39,1) 0%, rgba(5,62,108,1) 100%);

    position: fixed;
    overflow: hidden;
    user-select: none;
    z-index: 20;
}
.logo {
    color: white;
    padding-left: 2vw;
}
.r-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 2vw;
    color: white;
    white-space: nowrap;
    max-width: 600px;
    width: 450px;
}
.nLinks {
    font-size: 24px;
    font-weight: 400;
    transition-duration: 0.2s;
}
.nLinks:hover {
    color: #F71735;
}
.orange {
    color: #F71735;
}

/* ADD CLASS PART OF THE PAGE */
.add-class {
    padding-top: 8vh;
    width: 100%;
    height: 65vh;

    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal {
    background-color: #007991;
    height: 50vh;
    width: 40%;
    min-width: 600px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}
.top {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 20vh;
}
.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 50%;
    height: 20vh;
}
.summary {
    display: flex;
    align-items: center;
    flex-direction: column;

    height: 15vh;
    width: 100%;
}
.textarea {
    max-width: 30vw;
    min-width: 300px;
    width: 30vw;
    min-height: 10vh;
    max-height: 15vh;
    height: 12vh;
    font-size: 15pt;
    resize: none;
    border: none;
    background-color: white;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    outline: none;
    color: #011627;
}
::placeholder {
    color: #0116278e;
    font-size: 15pt;
}
.submit {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 4vh;
}
.btn {
    height: 4vh;
    width: 10vw;
    color: white;
    font-size: 105%;
    min-height: 40px;
    min-width: 100px;
    outline: none;
    border: none;

    background-color: #F71735;
    border-radius: 10px;
    transition-duration: 0.2s;
    cursor: pointer;
    user-select: none;
}
.btn:hover {
    background-color: #b11025;
}

/* TRANSCRIPT PART OF THE PAGE */
.transcript {
    width: 100%;
    min-height: 4vh;

    display: flex;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.classes {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    min-width: 500px;
    width: 35%;
    /* background-color: gray; */

    background: rgb(247,23,53);
    background: linear-gradient(90deg, rgba(247,23,53,1) 0%, rgba(199,28,51,1) 100%);
    
    height: 10vh;
    white-space: nowrap;
    margin-bottom: 2.5vh;
    border-radius: 10px;
}
.classes h1 ,p {
    font-size: 95%;
}
.lClass {
    margin-left: 1vw;
}
.rClass {
    margin-right: 1vw;
}
.sumModal {
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
}
.neater {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
}
.pModal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
    width: 30%;
    min-height: 10vh;
    background-color: white;
    color: #011627;
    padding: 1vw;
    z-index: 10;
    border-radius: 13px;
}
.paragraph {
    font-size: 25px;
    margin: 2vh;
    font-weight: 500;
}
.center {
    text-align: center;
    text-decoration: underline;
    color: red;
    font-weight: 700;
}
.blackout {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    width: 100vw;
    height: 100vh;
    background-color: rgba(31, 30, 30, 0.432);
    z-index: 5;
}
.remove {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    width: 20px;
}
/* FOOTER PART OF THE PAGE */
.footer {
    width: 100%;
    height: 14vh;
    background-color: #011627;
}
